*, *:before, *:after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
}
button {
   border: none;
   background-color: transparent;
}
button, 
button:active, 
button:focus {
   outline: none;
}
input:focus {
   outline: none;
}
body {
   font-family: 'Montserrat', sans-serif;
}
$primary-color: #20113D;
$secondary-color: #F58021;
$accent-color: #00A092;
$animation: all .3s ease-out;


/*sidebar*/
.sidebar__body {
   width: 210px;
   display: inline-block;
   background-color: $primary-color;
   @media (max-width: 1400px) {
      margin-right: 20px;
      width: 115px;
   }
   @media (max-width: 640px) {
      margin-right: 0;
      width: 78px;
      height: 100px;
   }
   @media (max-width: 550px) {
      width: 50px;
      height: 50px;
   }
}
.sidebar__body.sidebar-active {
   width: 300px;
}
/*top arrows*/
.sidebar__top {
   position: relative;
   border-bottom: 1px solid #fff;
}
.sidebar__arrows {
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
   cursor: pointer;
   @media (max-width: 1400px) {
      right: 0;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
.sidebar__body.sidebar-active .sidebar__arrows {
   position: absolute;
   transform: translateY(-50%) rotate(180deg);
   @media (max-width: 1400px) {
      top: 50%;
      right: 30px;
      left: auto;
      transform: translateY(-50%) rotate(180deg) translateX(0);
   }
}
/*sidebar name*/
.sidebar__name {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 120px;
   padding: 8px 0;
   background-color: $secondary-color;
   border-bottom-right-radius: 5px;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   color: #fff;
   @media (max-width: 1400px) {
      display: none;
   }
}
.sidebar__body.sidebar-active .sidebar__name {
   display: flex;
   width: 120px;
   @media (max-width: 1400px) {
      width: 144px;
      height: 38px;
   }
   @media (max-width: 640px) {
      width: 91px;
      max-height: 30px;
   }
}
.sidebar__name span {
   margin-right: 10px;
}
/*sidebar text+icon*/
.sidebar__link {
   //background-color: plum;
   padding: 0 20px;
   display: flex;
   align-items: center;
   @media (max-width: 550px) {
      padding: 0;
   }
}
/*sidebar text*/
.sidebar__text {
   color: #fff;
   display: none;
}
.sidebar__body.sidebar-active .sidebar__text {
   display: inline-block;
   @media (max-width: 550px) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow-y: hidden;
   }
}
.sidebar__body.sidebar-active .sidebar__icon {
   box-shadow: none;
   background-color: transparent;
   margin-right: 20px;
}
.sidebar__body.sidebar-active .current-sidebar .sidebar__icon .img {
   fill: #fff;
}
.sidebar__body.sidebar-active .sidebar__icon .img {
   fill: $secondary-color;
}
/*sidebar item*/
.sidebar__item {
   height: 171px;
   width: 100%;
   background-color: $primary-color;
   //width: 210px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid #fff;
   @media (max-width: 1400px) {
      //width: 115px;
   }
   @media (max-width: 640px) {
      //width: 78px;
      height: 100px;
   }
   @media (max-width: 550px) {
      //width: 50px;
      height: 50px;
   }
}
.sidebar__item_others {
   display: none;
}
.sidebar__item_others.others-active {
   display: flex;
}
.current-sidebar .sidebar__icon {
   background-color: #fff;
   box-shadow: 0 0 0 6px $primary-color, 0 0 0 12px #fff;
   @media (max-width: 1400px) {
      box-shadow: none;
      background-color: transparent;
   }
}
.sidebar__icon {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $secondary-color;
   border-radius: 50%;
   flex-basis: 105px;
   min-width: 105px;
   height: 105px;
   @media (max-width: 1400px) {
      box-shadow: none;
      background-color: transparent;
      flex-basis: 70px;
      min-width: 70px;
      height: 70px;
   }
   @media (max-width: 640px) {
      box-shadow: none;
      background-color: transparent;
      flex-basis: 50px;
      min-width: 50px;
      height: 50px;
   }
}
.sidebar__icon .img {
   width: 70px;
   height: 70px;
   fill: $primary-color;
   @media (max-width: 1400px) {
      width: 50px;
      height: 50px;
      fill: $secondary-color;
   }
   @media (max-width: 640px) {
      width: 30px;
      height: 30px;
   }
}
/*sidebar bottom*/
.sidebar__top, .sidebar__bottom {
   height: 80px;
   @media (max-width: 640px) {
      height: 50px;
   }
}
.sidebar__bottom {
   display: flex;
   align-items: center;
   justify-content: center;
}
.sidebar__down {
   cursor: pointer;
}
.sidebar__down.others-active {
   transform: rotate(180deg);
}