*, *:before, *:after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
}
button {
   border: none;
   background-color: transparent;
}
button, 
button:active, 
button:focus {
   outline: none;
}
input:focus {
   outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
   border: 1px solid #000;
   -webkit-box-shadow: 0 0 0px 1000px transparent inset;
   transition: background-color 5000s ease-in-out 0s;
}
input:invalid, 
textarea:invalid,
input:-moz-ui-invalid,
textarea:-moz-ui-invalid {
   outline:none;
   box-shadow:none;
   -moz-box-shadow:none;
   -webkit-box-shadow:none;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0)
}
.container{
   max-width: 1400px;
   margin: 0 auto;
   @media(max-width: 1440px){
      padding: 0 20px;
   }
   @media(max-width: 1200px){
      padding: 0;
   }
}
body {
   font-family: 'Montserrat', sans-serif;
}
$primary-color: #20113D;
$secondary-color: #F58021;
$accent-color: #00A092;
$animation: all .3s ease-out;
$radius: 5px;
/*GENERAL REPEAT STYLES*/
.title {
   font-weight: 600;
   font-size: 54px;
   line-height: 66px;
   text-transform: uppercase;
   margin-bottom: 50px;
   @media(max-width: 1200px){
      margin-bottom: 30px;
   }
   @media(max-width: 320px){
      margin-bottom: 25px;
      font-size: 26px;
      line-height: 32px;
   }
}
.title_accent {
   color: $accent-color;
}
.card__title {
   font-weight: 500;
   font-size: 26px;
   line-height: 130%;
   color: #FFFFFF;
}
.text_caption {
   font-weight: 500;
   font-size: 26px;
   line-height: 130%;
   margin-bottom: 100px;
   @media(max-width: 640px){
      margin-bottom: 50px;
   }
   @media(max-width: 320px){
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 20px;
   }
}
.text {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #000000;
}
.btn {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: $radius;
   background-color: $secondary-color;
   font-family: Montserrat;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   color: #FFFFFF;
}
.btn:hover {
   background-color: #D26004;
   transition: all .3s ease-in-out;
}
.btn img {
   margin-left: 10px;
   display: block;
}
.btn_orange {
   width: 240px;
   height: 74px;
   @media(max-width: 640px){
      width: 285px;
   }
   @media(max-width: 320px){
      width: 100%;
      height: 45px;
   }
}
.controls {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   @media(max-width: 1200px){
      margin-bottom: 30px;
   }
}
.hidden {
   @media(max-width: 1024px){
      display: none;
   }
}
/*SLIDER CONTROLS*/
.controls__arrow {
   padding: 17px 16px;
   border: 1px solid #20113D;
   border-radius: $radius;
   margin-right: 60px;
   fill: #20113D;
   &:last-child {
      margin-right: 0;
   }
   &:hover {
      background-color: #20113D;
      cursor: pointer;
      transition: $animation;
   }
}
.controls__arrow-img {
   fill: #20113D;
}
.controls__arrow:hover > .controls__arrow-img {
   fill: #FFFFFF;
   transition: $animation;
}
.controls__arrow.inactive:hover  {
   background-color: transparent;
   cursor: default;
}
.controls__arrow.inactive:hover > .controls__arrow-img {
   fill: #20113D;
}

/*SLIDER BTNS*/
.slider-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 359px;
   height: 74px;
   border-width: 1px;
   border-style: solid;
   border-radius: $radius;
   border-color: #20113D;
   color: #20113D;
   &:hover {
      background-color: #20113D;
      color: #FFFFFF;
      transition: $animation;
   }
   @media(max-width: 1024px){
      width: 342px;
   }
   @media(max-width: 640px){
      width: 345px;
      //width: 285px;
   }
   @media(max-width: 320px){
      margin: 0 auto;
      width: 300px;
      height: 45px;
   }
}
.slider-btn span {
   margin-right: 10px;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
}
.slider-btn .btn-arrow {
   transition: $animation;
}
.slider-btn:hover > .btn-arrow {
   transition: $animation;
}
/*general for cards with pets*/

.card__text {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;   
   color: #FFFFFF;
}
.card__link {
   margin: auto auto 18px;
   width: 240px;
   height: 74px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   color: $secondary-color;
   &:hover {
      background-color: $secondary-color;
      color: #FFFFFF;
      border-radius: $radius;
      transition: $animation;
   }
   @media(max-width: 1024px){
      margin: auto auto 0;
   }
}
.card__link span {
   margin-right: 10px;
}
.card__link img {
   display: block;
}
.card__link .btn-arrow {
   fill: $secondary-color;
   transition: $animation;
}
.card__link:hover > .btn-arrow {
   fill: #FFFFFF;
   transition: $animation;
}




/*PETS*/
.pets__container {
   padding-top: 135px;
   text-align: center;
   @media(max-width: 1200px){
      padding-top: 100px;
   }
   @media(max-width: 640px){
      padding: 100px 20px 0;
   }
   @media(max-width: 320px){
      padding: 50px 5px 0;
   }
}
.pets__title {
   padding-left: 100px;
   @media(max-width: 900px){
      padding: 0 20px 0;
   }
   @media(max-width: 640px){
      max-width: 395px;
      margin: 0 auto 30px;
   }
   @media(max-width: 320px){
      padding: 0;
      max-width: 100%;
      font-size: 26px;
      line-height: 32px;
      margin: 0 auto 26px;
   }
}
.pets__text {
   margin: 0 auto 102px;
   max-width: 920px;
   color: #000;
   @media(max-width: 1200px){
      max-width: 900px;
      padding: 0 20px 0;
   }
   @media(max-width: 640px){
      margin: 0 auto 53px;
      max-width: 100%;
      padding: 0 10px 0;
   }
   @media(max-width: 320px){
      margin: 0 auto 20px;
   }
}
.pets__controls {
   margin-bottom: 25px;
   @media(max-width: 1200px) {
      margin-bottom: 10px;
   }
}
.controls__arrow.inactive {
   //background-color: red;
   opacity: 0.5;
}

/*pets_btn*/
.pets__btn {
   margin: 0 auto 150px;
   border-color: #20113D;
   color: #20113D;
   &:hover {
      border-color: #FFFFFF;
      background-color: #20113D;
      color: #FFFFFF;
   }
   @media(max-width: 640px){
      margin: 0 auto 100px;
   }
   @media(max-width: 320px){
      margin: 0 auto;
   }
}
.pets__btn span {
   margin-right: 10px;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
}
.pets__btn .btn-arrow {
   fill:  #20113D;
}
.pets__btn:hover > .btn-arrow {
   fill: #FFFFFF;
}
/*=============================================*/

/*Grid carousel*/
.pets__carousel-box {
   display: grid;
   grid-template-columns: minmax(0, 1fr) 0 minmax(0, 1400px) minmax(0, 1fr);
   grid-template-rows: auto;
   grid-template-areas: ". . pets__cards pets__cards";
   @media(max-width: 1440px){
      grid-template-columns: minmax(0, 1fr) 40px minmax(0, 1400px) minmax(0, 1fr);
   }
   @media(max-width: 1024px) {
      //background-color: orchid;
      grid-template-columns: minmax(0, 1fr) 20px minmax(0, 1400px) minmax(0, 1fr);
      //grid-template-columns: 1fr;
      //grid-template-rows: auto;
      //grid-auto-flow: column;
      //grid-template-areas: "pets__cards";
      
   }
   @media(max-width: 635px){
      grid-template-columns: minmax(0, 1fr) 0px minmax(0, 1400px) minmax(0, 1fr);
   }
   
   /*@media(max-width: 1024px){
      display: block;
   }*/
}
/*Grid cards*/
.pets__cards-wrapper {
   grid-area: pets__cards;
}
.pets-carousel__gallery {
   //background-color: yellow;
   position: relative;
   max-width: 1920px;
   overflow-x: hidden;
}
.pets-carousel__cards {
   //background-color: yellowgreen;
   grid-auto-flow: column;
   grid-template-rows: 1fr 1fr;
   margin-left: -20px;
   display: grid;
   //grid-template-columns: 440px 440px 440px 440px;
   column-gap: 40px;
   row-gap: 40px;
   grid-auto-rows: 1fr;
   overflow-x: hidden;
   margin-bottom: 80px;
   margin-left: 0;
   overflow-y: hidden;
   padding: 20px 0 20px 20px;
   @media(max-width: 1200px){
      //grid-template-columns: 455px 455px 455px 455px;
      column-gap: 20px;
      row-gap: 20px;
      margin-bottom: 30px;
   }
   @media(max-width: 1024px) {
      grid-template-rows: 1fr;
   }
   /*@media(max-width: 1024px){
      display: none;
   }*/
}
/*.pets__cards-mobile {
   width: 100%;
   display: none;
   @media(max-width: 1024px){
      max-width: 95%;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto 50px;
   }
   @media(max-width: 620px){
      grid-template-columns: 1fr;
   }
   @media(max-width: 320px){
      margin-bottom: 65px;
   }
}*/
/*Grid card*/
.pets-card {
   position: relative;
   max-width: 440px;
   width: 440px;
   //background-color: yellow;
   display: grid;
   grid-auto-flow: row;
   grid-template: auto minmax(0, 1fr) minmax(0, 2fr) auto / 1fr;
   text-align: center;
   background-color: $primary-color;
   border-radius: $radius;
   @media(max-width: 1200px){
      max-width: 455px;
      width: 455px;
   }
   @media(max-width: 1024px){
      max-width: 100%;
      width: 290px;
   }
   @media(max-width: 635px){
      max-width: 92vw;
      width: 92vw;
   }
   @media(max-width: 533px){
      max-width: 90vw;
      width: 90vw;
   }
   @media(max-width: 360px){
      max-width: 300px;
      width: 300px;
   }
   /*@media(max-width: 620px){
      max-width: 100%;
      margin: 0 auto;
   }*/
}
.pets__card:hover {
   transform: scale(1.08, 1.05);
   transition: $animation;
}
/*.hidden320 {
   @media(max-width: 620px){
      display: none;
   }
}*/
.pets-card__pic {
   position: relative;
   padding: 0 0 99% 0;
   margin-bottom: 30px;
   @media(max-width: 1200px){
      padding: 0 0 95% 0;
      margin-bottom: 15px;
   }
   @media(max-width: 1024px){
      padding: 0 0 95% 0;
      height: 333px;
      margin-bottom: 15px;
   }
}
.pets-card__pic img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   border-top-left-radius: $radius;
   border-top-right-radius: $radius;
}
.pets-card__title {
   margin: 0 auto 20px;
   padding: 0 30px;
}
.pets-card__text{
   padding: 0 30px;
   margin-bottom: 20px;
   @media(max-width: 1200px){
      margin-bottom: 25px;
   }
   @media(max-width: 1024px){
      margin-bottom: 5px;
   }
   @media(max-width: 640px){
      margin-top: -10px;
      margin-bottom: 15px;
   }
}
.pets-card__link {
   margin-bottom: 50px;
   @media(max-width: 1200px){
      margin-bottom: 35px;
   }
   @media(max-width: 1024px){
      margin-bottom: 10px;
   }
}
.pets-card__name {
   padding: 13px 25px;
   position: absolute;
   top: 0;
   left: 0;
   background-color: $primary-color;
   border-radius: $radius;
   font-weight: 500;
   font-size: 26px;
   line-height: 130%;
   color: #FFFFFF;
   z-index: 5;
}
.pets-card__gradient {
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 90%;
   background-image: linear-gradient(to right, transparent, #fff 50%, #fff);
   z-index: 5;
   @media(max-width: 1920px) {
      background-image: none;
      z-index: 0;
   }
}



