*,
*:before,
*:after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
}
button, 
button:active, 
button:focus {
   outline: none;
}
input:focus {
   outline: none;
}
.container {
   max-width: 1400px;
   margin: 0 auto;
   @media (max-width: 1440px) {
      padding: 0 20px;
   }
   @media (max-width: 1200px) {
      padding: 0;
   }
}
body {
   font-family: "Montserrat", sans-serif;
   background-color: grey;
}

$primary-color: #20113d;
$secondary-color: #f58021;
$accent-color: #00a092;
$animation: all 0.3s ease-out;
$radius: 5px;
.title {
   font-weight: 600;
   font-size: 54px;
   line-height: 66px;
   text-transform: uppercase;
   margin-bottom: 50px;
   @media (max-width: 1200px) {
      margin-bottom: 30px;
   }
   @media (max-width: 320px) {
      margin-bottom: 25px;
      font-size: 26px;
      line-height: 32px;
   }
}
.text {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #000000;
}
/*======================================*/
/*POPUP*/
/*General for popup*/
.popup {
   background-color: palevioletred;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #e5e5e5;
   @media (max-width: 680px) {
      position: static;
      height: auto;
   }
}
.popup__body {
   //background-color: purple;
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 10px;
}
.popup__content {
   position: relative;
   max-width: 1160px;
   margin: 0 auto;
   background-color: #fff;
   box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
   border-radius: $radius;
   text-align: center;
}
.popup__close {
   position: absolute;
   right: 30px;
   top: 30px;
   z-index: 5;
}
/*=====================*/
.popup__pic {
   position: relative;
   width: 100%;
   height: 387px;
   margin-bottom: 20px;
   border-top-left-radius: $radius;
   border-top-right-radius: $radius;
   //padding: 0 0 75% 0;
}
.popup__pic img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: center;
   object-position: center;
}
.popup__title {
   color: $secondary-color;
   max-width: 680px;
   margin: 0 auto 30px;
   padding: 0 20px;
   @media (max-width: 680px) {
      max-width: 100%;
      padding: 0 40px;
   }
}
.popup__text {
   max-width: 570px;
   margin: 0 auto 50px;
   padding: 0 20px;
}
.popup__btns {
   //background-color: salmon;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0 80px 30px;
}
.popup__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 120px;
   height: 65px;
   margin-right: 40px;
   margin-bottom: 20px;
   background-color: $accent-color;
   border-radius: $radius;
}
.popup__btn:last-child {
   width: 200px;
   margin-right: 0;
}
.popup__btn:hover {
   cursor: pointer;
   background-color: $secondary-color;
   transition: $animation;
}
.popup__btn a {
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   color: #ffffff;
}
/*General for step popup*/
.popup-step__caption {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 42px 0;
   background-color: $secondary-color;
}
.popup-step__title {
   font-family: "Montserrat", sans-serif;
   color: #fff;
   font-weight: 500;
   font-size: 42px;
   line-height: 51px;
   text-transform: uppercase;
   background-color: yellowgreen;
}
.popup-step__line {
   //background-color: powderblue;
   width: 100%;
   border-bottom: 1px solid #a4a8ae;
   padding: 50px 0 10px;
   margin-bottom: 40px;
}
.popup-step__subtitle {
   text-align: start;
   max-width: 680px;
   margin: 0 auto;
   font-weight: 600;
   font-size: 18px;
   line-height: 150%;
   color: #000000;
   @media (max-width: 680px) {
      max-width: 100%;
      padding: 0 40px;
   }
}
.popup-step__form {
   background-color: greenyellow;
   padding: 0 120px 50px;
   @media (max-width: 680px) {
      padding: 0 40px 50px;
   }
}
.popup-step__main {
   background-color: hotpink;
   width: 680px;
   margin-bottom: 50px;
   @media (max-width: 680px) {
      width: 100%;
   }
}
.btn-text {
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   color: #FFFFFF;
}
.label-text {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #000;
   text-align: start;
}

/*POPUP1*/
.popup-step__content {
   max-width: 920px;
   @media (max-width: 680px) {
      max-width: 600px;
   }
}
.popup-step1__label {
   text-align: start;
   margin-bottom: 10px;
}
.popup-step1__label span {
   color: $accent-color;
   margin-right: 5px;
}
/*Radio btn step1*/
.row {
   display: flex;
   align-items: center;
}
.popup-step1__row1 {
   flex-wrap: wrap;
}
.popup-step1__btn,
.popup-step1__btn:last-child {
   width: 80px;
   height: 65px;
   background-color: #80cfc8;
   @media (max-width: 680px) {
      width: 135px;
   }
}
.popup-step1__btn_other {
   width: 200px;
   margin-bottom: 35px;
}
.popup-step1__btn label {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: $radius;
}
.popup-step1__btn input[type=radio] {
	display: none;
}
/* Checked */
.popup-step1__btn input[type=radio]:checked + label {
	background: #00A092;
}
/* Hover */
.popup-step1__btn label:hover {
	background: #00A092;
   cursor: pointer;
}
/*row with input number*/
.popup-step1__row2 {
   margin-top: 20px;
   background-color: indianred;
}
.popup-step1__value {
   border-radius: $radius;
   margin-bottom: 35px;
   background-color: yellow;
}
.popup-step1__value input[type=number] {
   width: 200px;
   height: 65px;
   border-radius: $radius;
   padding: 0 20px;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   color: #000;
}
/*input number without arrow*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*row with select*/
.popup-step1__row3 {
   position: relative;
   //height: 74px;
   width: 100%;
   background-color: lightgreen;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
/*btn-checkbox for-special-pet*/
.for-special-pet {
   width: 200px;
   height: 74px;
   border-radius: $radius;
   background-color: #80cfc8;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 35px;
}
#pet {
   display: none;
}
.for-special-pet:hover {
   background-color: $accent-color;
   transition: $animation;
}
/* Checked */
#pet:checked + label {
	background: $accent-color;
   
}
.select-box__wrapper {
   position: absolute;
   top: 7px;
   left: 240px;
   margin-bottom: 35px;
   @media (max-width: 680px) {
      position: static;
   }
}
/*checkbox-row after select*/
#monthly {
   display: none;
}
#monthly+label {
   display: inline-flex;
   align-items: center;
   user-select: none;
}
#monthly+label::before {
   content: '';
   display: inline-block;
   width: 30px;
   height: 30px;
   border: 1px solid #000;
   margin-right: 20px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50% 50%;
}
#monthly:checked+label::before {
   border: 1px solid $accent-color;
   background-color: $accent-color;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/*row with bullets*/
.popup-step1__row5 {
   width: 100%;
   max-width: 575px;
   display: flex;
   justify-content: space-between;
   background-color: orchid;
}
.popup-bullets {
   display: flex;
   width: 50px;
   justify-content: space-between;
}
.popup-bullets span {
   border-radius: 50%;
   width: 10px;
   height: 10px;
   border: 1px solid #80cfc8;
   cursor: pointer;
}
.current-popup-bullet {
   background-color: $accent-color;
}
.btn-next {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 74px;
   background-color: $accent-color;
   border-radius: $radius;
}
.next {
   margin-right: 10px;
}

/*===========================*/
/*SELECT*/
.select-box {
   display: flex;
   flex-direction: column;
   width: 440px;
   //padding-bottom: 50px;
}
.select-margin_top {
   order: 1;
}
.select-margin_bottom {
   order: 3;
}
.select-margin_top.margin-active {
   height: 10px;
   background-color: #fff;
   border-left: 1px solid #000;
   border-right: 1px solid #000;
   transition: $animation;
}
.select-margin_bottom.margin-active {
   height: 10px;
   background-color: #fff;
   border-left: 1px solid #000;
   border-right: 1px solid #000;
   border-bottom: 1px solid #000;
   transition: $animation;
}
.select-box .options-container {
   background-color: #fff;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 150%;
   color: #000000;
   max-height: 0;
   opacity: 0;
   width: 100%;
   transition: $animation;
   overflow: hidden;
   order: 2;
   border-right: 1px solid #000;
   border-left: 1px solid #000;
}
.select-box .options-container.select-active {
   max-height: 450px;
   opacity: 1;
   overflow-y: scroll;
   overflow: overlay;
}
.select-box .options-container::-webkit-scrollbar {
   width: 32px;
   background-color: transparent;
}
.select-box .options-container::-webkit-track {
   background-color: transparent;
}
.select-box .options-container::-webkit-scrollbar-thumb {
   background-color: #80cfc8;
}
.select-box .options-container::-webkit-scrollbar-button:single-button {
   display: block;
   border: 0;
   height: 32px;
   width: 32px;
   cursor: pointer;
}
/* Up */
.select-box .options-container::-webkit-scrollbar-button:single-button:vertical:decrement {
   position: relative;
}
.select-box .options-container::-webkit-scrollbar-button:single-button:vertical:decrement {
   position: absolute;
   top: 0;
   left: 0;
   width: 32px;
   height: 32px;
   background: url(../../assets/icons/select_arr_top.svg);
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   //background-color: blue;
}
.select-box .options-container::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
   cursor: pointer;
}
/* Down */
.select-box .options-container::-webkit-scrollbar-button:single-button:vertical:increment {
   position: absolute;
   top: 0;
   left: 0;
   width: 32px;
   height: 32px;
   background: url(../../assets/icons/select_arr_down.svg);
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   //background-color: yellow;
}
.select-box .options-container::-webkit-scrollbar-button:single-button:vertical:increment:hover {
   cursor: pointer;
}
.select-box .option,
.selected {
   cursor: pointer;
}
.select-box .option {
   padding: 5px 20px;
   margin: 20px 0;
}
.select-box .option:first-child {
   margin: 0 0 20px;
}
.selected {
   padding: 20px 54px 20px 20px;
   position: relative;
   order: 0;
   background-image: linear-gradient(to left, #80CFC8 32px, #000 32px 33px, #fff 33px);
   border: 1px solid #000;
   border-radius: 5px;
   text-align: center;
   color: rgba(0, 0, 0, 0.7);
}
.selected::after {
   content: "";
   background: url(../../assets/icons/select_arr_down.svg);
   background-size: contain;
   background-repeat: no-repeat;
   position: absolute;
   height: 8px;
   width: 16px;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   transition: $animation;
}
.select-box .options-container.select-active + .selected::after {
   content: "";
   background: url(../../assets/icons/select_arr_top.svg);
}
.select-box .option:hover {
   background-color: #80cfc8;
}
.select-box label {
   cursor: pointer;
}
.select-box .option .radio {
   display: none;
}
/*======================*/
